body{
    background: #f5dbda;
    font-family: 'Special Elite', cursive;
}
.header_div{
    background: white;
    color: rgb(255, 0, 0);
}
.header_div p{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color : gray;
}
.main_div button{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
    width: 130px;
}
.copy_right_footer{
    color: #6c757d;
    font-size: 18px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #f5f5f5;
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}
